
@{
    Layout = null;
}

@model List<ClobDM_Model.Stattis_Solid>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="pageContent">
        <div class="pageFormContent" layouth="56">
            @foreach (var item in Model)
            {
                <fieldset>
                    <legend>基本信息</legend>

                    <dl>
                        <dt>
                            <label>
                                卷号：
                            </label>
                        </dt>
                        <dd>
                            @item.juan_hao
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label>
                                粘度：
                            </label>
                        </dt>
                        <dd>
                            @item.zhang_d
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label>
                                序号：
                            </label>
                        </dt>
                        <dd>
                            @item.xu_hao
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label>
                                坩埚重：
                            </label>
                        </dt>
                        <dd>
                            @(item.S_CrucibleW)
                        </dd>

                    </dl>
                    <dl>
                        <dt>
                            <label>
                                烘前总重：
                            </label>
                        </dt>
                        <dd>
                            @(item.S_CrucibleFT)
                        </dd>

                    </dl>
                    <dl>
                        <dt>
                            <label>
                                烘后总重：
                            </label>
                        </dt>
                        <dd>
                            @(item.S_CrucibleAT)
                        </dd>

                    </dl>
                    <dl>
                        <dt>
                            <label>
                                含固量：
                            </label>
                        </dt>
                        <dd>
                            @(item.s_solidPer)
                        </dd>

                    </dl>
                    <dl>
                        <dt>
                            <label>
                                创建时间：
                            </label>
                        </dt>
                        <dd>
                            @item.CreateTime.ToString("yyyy-MM-dd HH:mm:ss")
                        </dd>
                    </dl>
                </fieldset>

            }

        </div>
        <div class="formBar">
            <ul>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button type="button" class="close">
                                关闭
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
