
@{
    Layout = null;
}
@model List<ClobDM_Model.Stattis_Hot>

<html>
<head>
    <title>热收缩</title>
</head>
<body>
    <form id="pagerForm" method="post" action="@Url.Action("Index")">
        <input type="hidden" name="pageNum" value="@ViewData["pageIndex"]" />
        <input type="hidden" name="numPerPage" value="@ViewData["pageSize"]" />
        <input name="CreateTime" id="CreateTime" type="hidden" value="@ViewData["CreateTime"]" />
    </form>
    <div class="pageHeader">
        <form onsubmit="return navTabSearch(this);" action="@Url.Action("Index")" method="post">
            <div class="searchBar">
                <ul class="searchContent">
                    <li>
                        <label>
                            蓝号：
                        </label>
                        <input name="lan_hao" type="text" value="@ViewData["lan_hao"]" />
                    </li>
                </ul>
                <div class="subBar">
                    <ul>
                        <li>
                            <div class="buttonActive">
                                <div class="buttonContent">
                                    <button type="submit">
                                        检索
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
    <div class="pageContent">
        <div class="panelBar">
            <ul class="toolBar">
                <li><a class="add" href="/Stattis_Hot/Add" mask="false" width="1000" height="550" target="dialog" rel="AddStattis_Hot"><span>添加热收缩</span></a></li>
                @*<li>
                    <a class="icon" onclick="Stattis_Hot.ExportExcel()"><span>导出查询数据</span></a>
                </li>*@
                <li class="line">line</li>
            </ul>
        </div>
        <table class="table" width="100%" layouth="138">
            <thead>
                <tr>
                    <th width="40">
                        <input type="checkbox" group="ids" class="checkboxCtrl">
                    </th>
                    <th>
                        编号
                    </th>
                    <th>
                        蓝号
                    </th>
                    <th>
                        卷号
                    </th>
                    <th>
                        烘前
                    </th>
                    <th>
                        烘后总重
                    </th>
                    <th>
                        含水率
                    </th>
                    <th>
                        纵向1
                    </th>
                    <th>
                        纵向2
                    </th>
                    <th>
                        纵向3
                    </th>
                    <th>
                        纵向4
                    </th>
                    <th>
                        横向1
                    </th>
                    <th>
                        横向2
                    </th>
                    <th>
                        横向3
                    </th>
                    <th>
                        横向4
                    </th>
                    <th>
                        创建时间
                    </th>
                    <th width="120">
                        操作
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <input name="ids" type="checkbox" value="@item.ID" />
                        </td>
                        <td>@item.ID</td>
                        <td>@item.lan_hao</td>
                        <td>@item.juan_hao</td>
                        <td>@item.hot_front</td>
                        <td>@item.hot_afterTotal</td>
                        <td>@item.Water_per</td>
                        <td>@item.release_d1</td>
                        <td>@item.release_d2</td>
                        <td>@item.release_d3</td>
                        <td>@item.release_d4</td>


                        <td>@item.horizontal_d1</td>
                        <td>@item.horizontal_d2</td>
                        <td>@item.horizontal_d3</td>
                        <td>@item.horizontal_d4</td>
                        <td>@item.CreateTime</td>
                        <td width="120">
                            <a title="查看" target="dialog" href="/Stattis_Hot/Detail?OID=@item.ID" mask="false" width="1000" height="550" class="btnInfo">详情</a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
        <div class="panelBar">
            <div class="pages">
                <span>每页20条，共 @ViewData["recordCount"] 条</span>
            </div>
            <div class="pagination" targettype="navTab" totalcount="@ViewData["recordCount"]" numperpage="@ViewData["pageSize"]" pagenumshown="10"
                 currentpage="@ViewData["pageIndex"]">
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var Stattis_Hot = {
            ExportExcel: function () {
                var S_username = $("#S_username").val();
                var S_realName = $("#S_realName").val();
                window.location.href = "/Stattis_Hot/Export/?S_username=" + S_username + "&S_realName=" + S_realName + "";
            }
        }
    </script>
</body>
</html>