
@{
    Layout = null;
}

@model List<ClobDM_Model.Heat_shrinkf>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="pageContent">
        <div class="pageFormContent" layouth="56">
            <fieldset>
                <legend>基本信息</legend>
                @foreach (var item in Model)
                {
                    <dl>
                        <dt>
                            <label>
                                来货日期：
                            </label>
                        </dt>
                        <dd>
                            @item.HS_InTime
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label>
                                进货数量：
                            </label>
                        </dt>
                        <dd>
                            @item.HS_InGoodsNum
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label>
                                产品规格：
                            </label>
                        </dt>
                        <dd>
                            @item.HS_Pstandard
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label>
                                克重：
                            </label>
                        </dt>
                        <dd>
                            @(item.HS_gm)
                        </dd>

                    </dl>
                        <dl>
                        <dt>
                            <label>
                                厚度：
                            </label>
                        </dt>
                        <dd>
                            @(item.HS_mm)
                        </dd>

                    </dl>
                        <dl>
                        <dt>
                            <label>
                                宽度：
                            </label>
                        </dt>
                        <dd>
                            @(item.HS_ww)
                        </dd>

                    </dl>
                        <dl>
                        <dt>
                            <label>
                                拉伸强度(纵向)：
                            </label>
                        </dt>
                        <dd>
                            @item.HS_drawSMD
                        </dd>
                    </dl>
                        <dl>
                        <dt>
                            <label>
                                拉伸强度(横向)：
                            </label>
                        </dt>
                        <dd>
                            @item.HS_drawSMC
                        </dd>
                    </dl>
                        <dl>
                        <dt>
                            <label>
                                断裂伸长率(纵向)：
                            </label>
                        </dt>
                        <dd>
                            @item.HS_disruptED
                        </dd>
                    </dl>
                        <dl>
                        <dt>
                            <label>
                                断裂伸长率(横向)：
                            </label>
                        </dt>
                        <dd>
                            @item.HS_disruptEC
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label>
                                创建时间：
                            </label>
                        </dt>
                        <dd>
                            @item.CreateTime.ToString("yyyy-MM-dd HH:mm:ss")
                        </dd>
                    </dl>
                }
            </fieldset>
            <fieldset>
                <legend>厂家信息</legend>
                @foreach (var item in Model)
                {

                <dl>
                    <dt>
                        <label>
                            厚度：
                        </label>
                    </dt>
                    <dd>
                        @item.HS_Fmm
                    </dd>
                </dl>
                     <dl>
                    <dt>
                        <label>
                            宽度：
                        </label>
                    </dt>
                    <dd>
                        @item.HS_Fww
                    </dd>
                </dl>
                     <dl>
                    <dt>
                        <label>
                            拉伸强度(纵向)：
                        </label>
                    </dt>
                    <dd>
                        @item.HS_FdrawSMD
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <label>
                            拉伸强度(横向)：
                        </label>
                    </dt>
                    <dd>
                        @item.HS_FdrawSMC
                    </dd>
                </dl>
                     <dl>
                    <dt>
                        <label>
                            断裂标称应变((纵)：
                        </label>
                    </dt>
                    <dd>
                        @item.HS_FdisruptED
                    </dd>
                </dl>
                 <dl>
                    <dt>
                        <label>
                            断裂标称应变(横)：
                        </label>
                    </dt>
                    <dd>
                        @item.HS_FdisruptEC
                    </dd>
                </dl>
                         <dl>
                    <dt>
                        <label>
                            颜色：
                        </label>
                    </dt>
                    <dd>
                        @item.HS_FColor
                    </dd>
                </dl>
                 <dl>
                    <dt>
                        <label>
                            生产日期：
                        </label>
                    </dt>
                    <dd>
                        @item.HS_FAddTime
                    </dd>
                </dl>
                     <dl>
                    <dt>
                        <label>
                            生产厂家：
                        </label>
                    </dt>
                    <dd>
                        @item.HS_FName
                    </dd>
                </dl>
                     <dl>
                    <dt>
                        <label>
                            合格与否：
                        </label>
                    </dt>
                    <dd>
                        @item.HS_FIsPass
                    </dd>
                </dl>
                     <dl>
                    <dt>
                        <label>
                            备注：
                        </label>
                    </dt>
                    <dd>
                        @item.HS_FRemark
                    </dd>
                </dl>
               }
            </fieldset>
           </div>
        <div class="formBar">
            <ul>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button type="button" class="close">
                                关闭
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>

