
@{
    Layout = null;
}

@model List<ClobDM_Model.Heat_shrinkf>
<form id="pagerForm" method="post" action="@Url.Action("Index")">
    <input type="hidden" name="pageNum" value="@ViewData["pageIndex"]" />
    <input type="hidden" name="numPerPage" value="@ViewData["pageSize"]" />
    <input name="S_username" id="S_username" type="hidden" value="@ViewData["S_username"]" />
    <input name="S_realName" id="S_realName" type="hidden" value="@ViewData["S_realName"]" />
</form>
<div class="pageHeader">
    <form onsubmit="return navTabSearch(this);" action="@Url.Action("Index")" method="post">
        <div class="searchBar">
            <ul class="searchContent">
                <li>
                    <label>
                        来货日期：
                    </label>
                    <input name="S_username" type="text" value="@ViewData["S_username"]" />
                </li>
            </ul>
            <div class="subBar">
                <ul>
                    <li>
                        <div class="buttonActive">
                            <div class="buttonContent">
                                <button type="submit">
                                    检索
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>
<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li>
              <a class="add" href="/Heat_shrinkf/Add" mask="false" width="1000" height="550" target="dialog" rel="AddHeat_shrinkf">
                <span>添加热缩膜</span></a></li>
            <li>
                <a class="icon" onclick="Heat_shrinkf.ExportExcel()"><span>导出查询数据</span></a>
            </li>
            @*<li>
                <a class="delete" href="/SysUserInfo/DeleteUserInfoByIds" rel="ids" target="selectedTodo" posttype="string"
                   title="确定要删除吗?"><span>批量删除</span></a>
            </li>
            <li>
                <a class="delete" href="/SysUserInfo/RecoverUserInfoByIds" rel="ids" target="selectedTodo" posttype="string"
                   title="确定要启用吗?"><span>批量启用</span></a>
            </li>*@
            <li class="line">line</li>
        </ul>
    </div>
    <table class="table" width="100%" layouth="138">
        <thead>
            <tr>
                <th width="40">
                    <input type="checkbox" group="ids" class="checkboxCtrl">
                </th>
                <th>
                    编号
                </th>
                <th>
                    来货日期
                </th>
                <th>
                    进货数量
                </th>
                <th>
                    产品规格
                </th>
                <th>
                    克重
                </th>
                <th>
                    厚度
                </th>
                <th>
                    宽度
                </th>
                <th>
                    创建时间
                </th>
                <th width="120">
                    操作
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input name="ids" type="checkbox" value="@item.ID" />
                    </td>
                    <td>@item.ID</td>
                    <td>@item.HS_InTime</td>
                    <td>@item.HS_InGoodsNum</td>
                    <td>@item.HS_Pstandard</td>
                    <td>@item.HS_gm</td>
                    <td>@item.HS_mm</td>
                    <td>@(item.HS_ww)</td>
                    <td>@item.CreateTime</td>
                    <td width="120">
                        <a title="查看" target="dialog" href="/Heat_shrinkf/Detail?OID=@item.ID" mask="false" width="1000" height="550" class="btnInfo">详情</a>
                        <a title="编辑" target="dialog" href="/Heat_shrinkf/Add?OID=@item.ID" class="btnEdit" mask="false" width="1000" height="550"> 编辑</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
    <div class="panelBar">
        <div class="pages">
            <span>每页20条，共 @ViewData["recordCount"] 条</span>
        </div>
        <div class="pagination" targettype="navTab" totalcount="@ViewData["recordCount"]" numperpage="@ViewData["pageSize"]" pagenumshown="10"
             currentpage="@ViewData["pageIndex"]">
        </div>
    </div>
</div>
<script type="text/javascript">
    var Heat_shrinkf = {
        ExportExcel: function () {
            var S_username = $("#S_username").val();
            var S_realName = $("#S_realName").val();
            window.location.href = "/sys_userinfo/ExportUserinfo/?S_username=" + S_username + "&S_realName=" + S_realName + "";
        }
    }
</script>