
@{
    Layout = null;
}

@model List<ClobDM_Model.Pull_Film>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="pageContent">
        <div class="pageFormContent" layouth="56">
@foreach (var item in Model)
{
            <fieldset>
                <legend>基本信息</legend>
             
                    <dl>
                        <dt>
                            <label>
                                来货日期：
                            </label>
                        </dt>
                        <dd>
                            @item.PF_InGoodsTime
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label>
                                产品规格：
                            </label>
                        </dt>
                        <dd>
                            @item.PF_Stand
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label>
                                总重kg/卷：
                            </label>
                        </dt>
                        <dd>
                            @item.PF_TWeight
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label>
                                纸箱kg：
                            </label>
                        </dt>
                        <dd>
                            @item.PF_PBox
                        </dd>

                    </dl>
                    <dl>
                        <dt>
                            <label>
                                纸管kg：
                            </label>
                        </dt>
                        <dd>
                            @item.PF_PChannel
                        </dd>
                    </dl>
                       <dl>
                        <dt>
                            <label>
                                净重kg/卷：
                            </label>
                        </dt>
                        <dd>
                            @item.PF_CleanW
                        </dd>
                    </dl>
                       <dl>
                        <dt>
                            <label>
                                进货数量：
                            </label>
                        </dt>
                        <dd>
                            @item.PF_InGoodNums
                        </dd>
                    </dl>
                       <dl>
                        <dt>
                            <label>
                                抽测数量：
                            </label>
                        </dt>
                        <dd>
                            @item.PF_CheckGoodNums
                        </dd>
                    </dl>
                       <dl>
                        <dt>
                            <label>
                                克重g/m2：
                            </label>
                        </dt>
                        <dd>
                            @item.PF_gm
                        </dd>
                    </dl>
                       <dl>
                        <dt>
                            <label>
                                宽度：
                            </label>
                        </dt>
                        <dd>
                            @item.PF_ww
                        </dd>
                    </dl>
                       <dl>
                        <dt>
                            <label>
                                厚度：
                            </label>
                        </dt>
                        <dd>
                            @item.PF_mm
                        </dd>
                    </dl>
                       <dl>
                        <dt>
                            <label>
                                拉断力纵向：
                            </label>
                        </dt>
                        <dd>
                            @item.PF_PowerW1
                        </dd>
                    </dl>
                       <dl>
                        <dt>
                            <label>
                                拉断力横向：
                            </label>
                        </dt>
                        <dd>
                            @item.PF_PowerW2
                        </dd>
                    </dl>
                       <dl>
                        <dt>
                            <label>
                                断裂伸长率横向：
                            </label>
                        </dt>
                        <dd>
                            @item.PF_drawSM1
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label>
                                断裂伸长率纵向：
                            </label>
                        </dt>
                        <dd>
                            @item.PF_drawSM2
                        </dd>
                    </dl>
                    
                     <dl>
                        <dt>
                            <label>
                                备注：
                            </label>
                        </dt>
                        <dd>
                            @item.PF_Remark
                        </dd>
                    </dl>
                    
                   <dl>
                        <dt>
                            <label>
                                测试人：
                            </label>
                        </dt>
                        <dd>
                            @item.PF_CheckUID
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label>
                                创建时间：
                            </label>
                        </dt>
                        <dd>
                            @item.CreateTime.ToString("yyyy-MM-dd HH:mm:ss")
                        </dd>
                    </dl>
              
            </fieldset>
            <fieldset>
                <legend>厂家信息</legend>
                <dl>
                    <dt>
                        <label>
                            净重：
                        </label>
                    </dt>
                    <dd>
                        @item.PF_FcleanW
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <label>
                            厚度：
                        </label>
                    </dt>
                    <dd>
                        @item.PF_Fmm
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <label>
                            宽度：
                        </label>
                    </dt>
                    <dd>
                        @item.PF_Fww
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <label>
                            拉伸强度：
                        </label>
                    </dt>
                    <dd>
                        @item.PF_FdrawSM1
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <label>
                            拉伸强度纵向：
                        </label>
                    </dt>
                    <dd>
                        @item.PF_FdrawSM2
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <label>
                            纵向断裂伸长率：
                        </label>
                    </dt>
                    <dd>
                        @item.PF_FdisruptED
                    </dd>
                </dl>

                <dl>
                    <dt>
                        <label>
                            冲击强度：
                        </label>
                    </dt>
                    <dd>
                        @item.PF_FchargeS
                    </dd>
                </dl>

                <dl>
                    <dt>
                        <label>
                            粘性：
                        </label>
                    </dt>
                    <dd>
                        @item.PF_Fsticky
                    </dd>
                </dl>

                <dl>
                    <dt>
                        <label>
                            厂家名称：
                        </label>
                    </dt>
                    <dd>
                        @item.PF_FName
                    </dd>
                </dl>
            </fieldset>
                }
        </div>
        <div class="formBar">
            <ul>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button type="button" class="close">
                                关闭
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>

